absl-py==0.12.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
Cython==0.29.22
docopt==0.6.2
efficientnet-pytorch==0.7.0
espatools==0.1.1
google-auth==1.28.0
google-auth-oauthlib==0.4.3
grpcio==1.36.1
hungarian-algorithm==0.1.11
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
joblib==1.0.1
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.0
meshio==4.3.13
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
numpy==1.20.2
oauthlib==3.1.0
opencv-python==4.5.1.48
pandas==1.2.3
Pillow==8.1.2
pipreqs==0.4.11
ply==3.11
properties==0.6.1
protobuf==3.15.6
PVGeo==2.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
Pyomo @ file:///home/conda/feedstock_root/build_artifacts/pyomo_1602397510877/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyUtilib @ file:///home/conda/feedstock_root/build_artifacts/pyutilib_1592579362902/work
pyvista==0.29.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.2
scooby==0.5.7
seaborn==0.11.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
torch==1.8.1
torchsummary==1.5.1
torchvision==0.9.1
tqdm==4.59.0
transforms3d==0.3.1
typing-extensions==3.7.4.3
urllib3==1.26.4
vectormath==0.2.2
vtk==9.0.1
Werkzeug==1.0.1
xmltodict==0.12.0
yarg==0.1.9
